<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LeventsDBEntities" connectionString="metadata=res://*/AnnonsModel.csdl|res://*/AnnonsModel.ssdl|res://*/AnnonsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5CG8506VZF;initial catalog=LeventsDB;persist security info=True;user id=leventyildirim;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="ThriftShop.Properties.Settings.LeventsDBConnectionString" connectionString="Data Source=5CG8506VZF;Initial Catalog=LeventsDB;Persist Security Info=True;User ID=leventyildirim;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>